---

---

<div class="grid-container">
  <div class="grid-row margin-x-neg-2">
    <div class="grid-col-8 padding-x-2">
      <slot />
    </div>
    <div class="grid-col-4 padding-x-2">
      <div class="padding-top-5" style={{ position: "sticky", top: 0 }}>
        progress indicator
      </div>
    </div>
  </div>
</div>
